
div#appComponent{
    margin: 0 40px;
	background-color:#fff;

	p{
		color:#333;
	}
}


ul#newsContainer{
	padding-left: 0px;

	li.news{
		margin-bottom:20px;
		border-bottom:1px solid #333;
		list-style: none;

		p{
		    line-height: 200%;
	        letter-spacing: .5px;
	        cursor:pointer;
		}
	}
}