@charset "UTF-8";
/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* add a little bit rules */
html { overflow-y: scroll; }

img, object, embed { vertical-align: top; }

input, select { vertical-align: middle; }

html { font-size: 62.5%; }

body { font-size: 18px; font-size: 1.8rem; }

/* YUI 3.4.1 (build 4118) Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License. http://yuilibrary.com/license/ */
select, input, button, textarea { font: 99% arial,helvetica,clean,sans-serif; }

table { font-size: inherit; font: 100%; }

pre, code, kbd, samp, tt { font-family: monospace; *font-size: 108%; line-height: 100%; }

/*  CLASSES  */
/*============================
DEFAULT CLASS
============================*/
.fL { float: left !important; }

.fR { float: right !important; }

.dI { display: inline !important; }

.dIb { display: inline-block !important; }

.dB { display: block !important; }

.bold { font-weight: bold !important; }

.normal { font-weight: normal !important; }

.aC { text-align: center !important; }

.aR { text-align: right !important; }

.aL { text-align: left !important; }

.lh1_2 { line-height: 1.2 !important; }

.lh1_4 { line-height: 1.4 !important; }

.lh1_6 { line-height: 1.6 !important; }

.lh1_8 { line-height: 1.8 !important; }

.lh2 { line-height: 2 !important; }

.m0 { margin: 0 !important; }

.m0a { margin: 0 auto !important; }

.mT-4 { margin-top: -4px !important; }

.mB-4 { margin-bottom: -4px !important; }

.mR-4 { margin-right: -4px !important; }

.mL-4 { margin-left: -4px !important; }

.mT0 { margin-top: 0px !important; }

.mB0 { margin-bottom: 0px !important; }

.mR0 { margin-right: 0px !important; }

.mL0 { margin-left: 0px !important; }

.mT4 { margin-top: 4px !important; }

.mB4 { margin-bottom: 4px !important; }

.mR4 { margin-right: 4px !important; }

.mL4 { margin-left: 4px !important; }

.mT8 { margin-top: 8px !important; }

.mB8 { margin-bottom: 8px !important; }

.mR8 { margin-right: 8px !important; }

.mL8 { margin-left: 8px !important; }

.mT12 { margin-top: 12px !important; }

.mB12 { margin-bottom: 12px !important; }

.mR12 { margin-right: 12px !important; }

.mL12 { margin-left: 12px !important; }

.mT16 { margin-top: 16px !important; }

.mB16 { margin-bottom: 16px !important; }

.mR16 { margin-right: 16px !important; }

.mL16 { margin-left: 16px !important; }

.mT20 { margin-top: 20px !important; }

.mB20 { margin-bottom: 20px !important; }

.mR20 { margin-right: 20px !important; }

.mL20 { margin-left: 20px !important; }

.mT24 { margin-top: 24px !important; }

.mB24 { margin-bottom: 24px !important; }

.mR24 { margin-right: 24px !important; }

.mL24 { margin-left: 24px !important; }

.mT28 { margin-top: 28px !important; }

.mB28 { margin-bottom: 28px !important; }

.mR28 { margin-right: 28px !important; }

.mL28 { margin-left: 28px !important; }

.mT32 { margin-top: 32px !important; }

.mB32 { margin-bottom: 32px !important; }

.mR32 { margin-right: 32px !important; }

.mL32 { margin-left: 32px !important; }

.mT36 { margin-top: 36px !important; }

.mB36 { margin-bottom: 36px !important; }

.mR36 { margin-right: 36px !important; }

.mL36 { margin-left: 36px !important; }

.mT40 { margin-top: 40px !important; }

.mB40 { margin-bottom: 40px !important; }

.mR40 { margin-right: 40px !important; }

.mL40 { margin-left: 40px !important; }

.mT44 { margin-top: 44px !important; }

.mB44 { margin-bottom: 44px !important; }

.mR44 { margin-right: 44px !important; }

.mL44 { margin-left: 44px !important; }

.mT48 { margin-top: 48px !important; }

.mB48 { margin-bottom: 48px !important; }

.mR48 { margin-right: 48px !important; }

.mL48 { margin-left: 48px !important; }

.mT52 { margin-top: 52px !important; }

.mB52 { margin-bottom: 52px !important; }

.mR52 { margin-right: 52px !important; }

.mL52 { margin-left: 52px !important; }

.mT56 { margin-top: 56px !important; }

.mB56 { margin-bottom: 56px !important; }

.mR56 { margin-right: 56px !important; }

.mL56 { margin-left: 56px !important; }

.mT60 { margin-top: 60px !important; }

.mB60 { margin-bottom: 60px !important; }

.mR60 { margin-right: 60px !important; }

.mL60 { margin-left: 60px !important; }

.mT64 { margin-top: 64px !important; }

.mB64 { margin-bottom: 64px !important; }

.mR64 { margin-right: 64px !important; }

.mL64 { margin-left: 64px !important; }

.mT68 { margin-top: 68px !important; }

.mB68 { margin-bottom: 68px !important; }

.mR68 { margin-right: 68px !important; }

.mL68 { margin-left: 68px !important; }

.mT72 { margin-top: 72px !important; }

.mB72 { margin-bottom: 72px !important; }

.mR72 { margin-right: 72px !important; }

.mL72 { margin-left: 72px !important; }

.mT76 { margin-top: 76px !important; }

.mB76 { margin-bottom: 76px !important; }

.mR76 { margin-right: 76px !important; }

.mL76 { margin-left: 76px !important; }

.mT80 { margin-top: 80px !important; }

.mB80 { margin-bottom: 80px !important; }

.mR80 { margin-right: 80px !important; }

.mL80 { margin-left: 80px !important; }

.mT84 { margin-top: 84px !important; }

.mB84 { margin-bottom: 84px !important; }

.mR84 { margin-right: 84px !important; }

.mL84 { margin-left: 84px !important; }

.mT88 { margin-top: 88px !important; }

.mB88 { margin-bottom: 88px !important; }

.mR88 { margin-right: 88px !important; }

.mL88 { margin-left: 88px !important; }

.mT92 { margin-top: 92px !important; }

.mB92 { margin-bottom: 92px !important; }

.mR92 { margin-right: 92px !important; }

.mL92 { margin-left: 92px !important; }

.mT96 { margin-top: 96px !important; }

.mB96 { margin-bottom: 96px !important; }

.mR96 { margin-right: 96px !important; }

.mL96 { margin-left: 96px !important; }

.mT100 { margin-top: 100px !important; }

.mB100 { margin-bottom: 100px !important; }

.mR100 { margin-right: 100px !important; }

.mL100 { margin-left: 100px !important; }

.p0 { padding: 0 !important; }

.pT0 { padding-top: 0 !important; }

.pB0 { padding-bottom: 0 !important; }

.pT24 { padding-top: 24px !important; }

.pB24 { padding-bottom: 24px !important; }

.pT48 { padding-top: 48px !important; }

.pB48 { padding-bottom: 48px !important; }

p, li, dt, dd, h2, h3, h4, span { background: url("../images/spacer.gif") 0 0 no-repeat; }

.textFix { background: url("../images/spacer.gif") 0 0 no-repeat !important; }

/* clearfix */
.cf:after, .clearfix:after { content: ""; clear: both; display: block; }

/*  CLASSES  */
/*============================
DEFAULT CLASS
============================*/
.fL { float: left !important; }

.fR { float: right !important; }

.dI { display: inline !important; }

.dIb { display: inline-block !important; }

.dB { display: block !important; }

.bold { font-weight: bold !important; }

.normal { font-weight: normal !important; }

.aC { text-align: center !important; }

.aR { text-align: right !important; }

.aL { text-align: left !important; }

.lh1_2 { line-height: 1.2 !important; }

.lh1_4 { line-height: 1.4 !important; }

.lh1_6 { line-height: 1.6 !important; }

.lh1_8 { line-height: 1.8 !important; }

.lh2 { line-height: 2 !important; }

.m0 { margin: 0 !important; }

.m0a { margin: 0 auto !important; }

.mT-4 { margin-top: -4px !important; }

.mB-4 { margin-bottom: -4px !important; }

.mR-4 { margin-right: -4px !important; }

.mL-4 { margin-left: -4px !important; }

.mT0 { margin-top: 0px !important; }

.mB0 { margin-bottom: 0px !important; }

.mR0 { margin-right: 0px !important; }

.mL0 { margin-left: 0px !important; }

.mT4 { margin-top: 4px !important; }

.mB4 { margin-bottom: 4px !important; }

.mR4 { margin-right: 4px !important; }

.mL4 { margin-left: 4px !important; }

.mT8 { margin-top: 8px !important; }

.mB8 { margin-bottom: 8px !important; }

.mR8 { margin-right: 8px !important; }

.mL8 { margin-left: 8px !important; }

.mT12 { margin-top: 12px !important; }

.mB12 { margin-bottom: 12px !important; }

.mR12 { margin-right: 12px !important; }

.mL12 { margin-left: 12px !important; }

.mT16 { margin-top: 16px !important; }

.mB16 { margin-bottom: 16px !important; }

.mR16 { margin-right: 16px !important; }

.mL16 { margin-left: 16px !important; }

.mT20 { margin-top: 20px !important; }

.mB20 { margin-bottom: 20px !important; }

.mR20 { margin-right: 20px !important; }

.mL20 { margin-left: 20px !important; }

.mT24 { margin-top: 24px !important; }

.mB24 { margin-bottom: 24px !important; }

.mR24 { margin-right: 24px !important; }

.mL24 { margin-left: 24px !important; }

.mT28 { margin-top: 28px !important; }

.mB28 { margin-bottom: 28px !important; }

.mR28 { margin-right: 28px !important; }

.mL28 { margin-left: 28px !important; }

.mT32 { margin-top: 32px !important; }

.mB32 { margin-bottom: 32px !important; }

.mR32 { margin-right: 32px !important; }

.mL32 { margin-left: 32px !important; }

.mT36 { margin-top: 36px !important; }

.mB36 { margin-bottom: 36px !important; }

.mR36 { margin-right: 36px !important; }

.mL36 { margin-left: 36px !important; }

.mT40 { margin-top: 40px !important; }

.mB40 { margin-bottom: 40px !important; }

.mR40 { margin-right: 40px !important; }

.mL40 { margin-left: 40px !important; }

.mT44 { margin-top: 44px !important; }

.mB44 { margin-bottom: 44px !important; }

.mR44 { margin-right: 44px !important; }

.mL44 { margin-left: 44px !important; }

.mT48 { margin-top: 48px !important; }

.mB48 { margin-bottom: 48px !important; }

.mR48 { margin-right: 48px !important; }

.mL48 { margin-left: 48px !important; }

.mT52 { margin-top: 52px !important; }

.mB52 { margin-bottom: 52px !important; }

.mR52 { margin-right: 52px !important; }

.mL52 { margin-left: 52px !important; }

.mT56 { margin-top: 56px !important; }

.mB56 { margin-bottom: 56px !important; }

.mR56 { margin-right: 56px !important; }

.mL56 { margin-left: 56px !important; }

.mT60 { margin-top: 60px !important; }

.mB60 { margin-bottom: 60px !important; }

.mR60 { margin-right: 60px !important; }

.mL60 { margin-left: 60px !important; }

.mT64 { margin-top: 64px !important; }

.mB64 { margin-bottom: 64px !important; }

.mR64 { margin-right: 64px !important; }

.mL64 { margin-left: 64px !important; }

.mT68 { margin-top: 68px !important; }

.mB68 { margin-bottom: 68px !important; }

.mR68 { margin-right: 68px !important; }

.mL68 { margin-left: 68px !important; }

.mT72 { margin-top: 72px !important; }

.mB72 { margin-bottom: 72px !important; }

.mR72 { margin-right: 72px !important; }

.mL72 { margin-left: 72px !important; }

.mT76 { margin-top: 76px !important; }

.mB76 { margin-bottom: 76px !important; }

.mR76 { margin-right: 76px !important; }

.mL76 { margin-left: 76px !important; }

.mT80 { margin-top: 80px !important; }

.mB80 { margin-bottom: 80px !important; }

.mR80 { margin-right: 80px !important; }

.mL80 { margin-left: 80px !important; }

.mT84 { margin-top: 84px !important; }

.mB84 { margin-bottom: 84px !important; }

.mR84 { margin-right: 84px !important; }

.mL84 { margin-left: 84px !important; }

.mT88 { margin-top: 88px !important; }

.mB88 { margin-bottom: 88px !important; }

.mR88 { margin-right: 88px !important; }

.mL88 { margin-left: 88px !important; }

.mT92 { margin-top: 92px !important; }

.mB92 { margin-bottom: 92px !important; }

.mR92 { margin-right: 92px !important; }

.mL92 { margin-left: 92px !important; }

.mT96 { margin-top: 96px !important; }

.mB96 { margin-bottom: 96px !important; }

.mR96 { margin-right: 96px !important; }

.mL96 { margin-left: 96px !important; }

.mT100 { margin-top: 100px !important; }

.mB100 { margin-bottom: 100px !important; }

.mR100 { margin-right: 100px !important; }

.mL100 { margin-left: 100px !important; }

.p0 { padding: 0 !important; }

.pT0 { padding-top: 0 !important; }

.pB0 { padding-bottom: 0 !important; }

.pT24 { padding-top: 24px !important; }

.pB24 { padding-bottom: 24px !important; }

.pT48 { padding-top: 48px !important; }

.pB48 { padding-bottom: 48px !important; }

p, li, dt, dd, h2, h3, h4, span { background: url("../images/spacer.gif") 0 0 no-repeat; }

.textFix { background: url("../images/spacer.gif") 0 0 no-repeat !important; }

/* clearfix */
.cf:after, .clearfix:after { content: ""; clear: both; display: block; }

/*  BASE STYLE  */
body { color: #252525; font-family: microsoft yahei, Verdana "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; -webkit-text-size-adjust: 100%; word-wrap: break-word; }

a { -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }
a:link { color: #252525; }
a:visited { color: #252525; }
a:hover { text-decoration: none; color: #252525; }
a:active { color: #252525; }

input[type="text"]:focus { outline: 0; border-color: none; }

input[type="checkbox"] { -webkit-appearance: none; position: relative; margin-right: 5px; border-radius: 8px; border: 1px solid #4c4c4c; -webkit-box-sizing: border-box; width: 28px; height: 28px; background: #fff; }

input[type="checkbox"]:checked:before { position: absolute; left: 1px; top: 17px; display: block; content: ""; width: 10px; height: 4px; background: #252525; -webkit-transform: rotate(45deg); -webkit-transform-origin: right center; }

input[type="checkbox"]:checked:after { display: block; position: absolute; left: 9px; top: 17px; content: ""; width: 19px; height: 4px; background: #252525; -webkit-transform: rotate(-53deg); -webkit-transform-origin: left center; }

/*  CLASSES  */
/*============================
DEFAULT CLASS
============================*/
.fL { float: left !important; }

.fR { float: right !important; }

.dI { display: inline !important; }

.dIb { display: inline-block !important; }

.dB { display: block !important; }

.bold { font-weight: bold !important; }

.normal { font-weight: normal !important; }

.aC { text-align: center !important; }

.aR { text-align: right !important; }

.aL { text-align: left !important; }

.lh1_2 { line-height: 1.2 !important; }

.lh1_4 { line-height: 1.4 !important; }

.lh1_6 { line-height: 1.6 !important; }

.lh1_8 { line-height: 1.8 !important; }

.lh2 { line-height: 2 !important; }

.m0 { margin: 0 !important; }

.m0a { margin: 0 auto !important; }

.mT-4 { margin-top: -4px !important; }

.mB-4 { margin-bottom: -4px !important; }

.mR-4 { margin-right: -4px !important; }

.mL-4 { margin-left: -4px !important; }

.mT0 { margin-top: 0px !important; }

.mB0 { margin-bottom: 0px !important; }

.mR0 { margin-right: 0px !important; }

.mL0 { margin-left: 0px !important; }

.mT4 { margin-top: 4px !important; }

.mB4 { margin-bottom: 4px !important; }

.mR4 { margin-right: 4px !important; }

.mL4 { margin-left: 4px !important; }

.mT8 { margin-top: 8px !important; }

.mB8 { margin-bottom: 8px !important; }

.mR8 { margin-right: 8px !important; }

.mL8 { margin-left: 8px !important; }

.mT12 { margin-top: 12px !important; }

.mB12 { margin-bottom: 12px !important; }

.mR12 { margin-right: 12px !important; }

.mL12 { margin-left: 12px !important; }

.mT16 { margin-top: 16px !important; }

.mB16 { margin-bottom: 16px !important; }

.mR16 { margin-right: 16px !important; }

.mL16 { margin-left: 16px !important; }

.mT20 { margin-top: 20px !important; }

.mB20 { margin-bottom: 20px !important; }

.mR20 { margin-right: 20px !important; }

.mL20 { margin-left: 20px !important; }

.mT24 { margin-top: 24px !important; }

.mB24 { margin-bottom: 24px !important; }

.mR24 { margin-right: 24px !important; }

.mL24 { margin-left: 24px !important; }

.mT28 { margin-top: 28px !important; }

.mB28 { margin-bottom: 28px !important; }

.mR28 { margin-right: 28px !important; }

.mL28 { margin-left: 28px !important; }

.mT32 { margin-top: 32px !important; }

.mB32 { margin-bottom: 32px !important; }

.mR32 { margin-right: 32px !important; }

.mL32 { margin-left: 32px !important; }

.mT36 { margin-top: 36px !important; }

.mB36 { margin-bottom: 36px !important; }

.mR36 { margin-right: 36px !important; }

.mL36 { margin-left: 36px !important; }

.mT40 { margin-top: 40px !important; }

.mB40 { margin-bottom: 40px !important; }

.mR40 { margin-right: 40px !important; }

.mL40 { margin-left: 40px !important; }

.mT44 { margin-top: 44px !important; }

.mB44 { margin-bottom: 44px !important; }

.mR44 { margin-right: 44px !important; }

.mL44 { margin-left: 44px !important; }

.mT48 { margin-top: 48px !important; }

.mB48 { margin-bottom: 48px !important; }

.mR48 { margin-right: 48px !important; }

.mL48 { margin-left: 48px !important; }

.mT52 { margin-top: 52px !important; }

.mB52 { margin-bottom: 52px !important; }

.mR52 { margin-right: 52px !important; }

.mL52 { margin-left: 52px !important; }

.mT56 { margin-top: 56px !important; }

.mB56 { margin-bottom: 56px !important; }

.mR56 { margin-right: 56px !important; }

.mL56 { margin-left: 56px !important; }

.mT60 { margin-top: 60px !important; }

.mB60 { margin-bottom: 60px !important; }

.mR60 { margin-right: 60px !important; }

.mL60 { margin-left: 60px !important; }

.mT64 { margin-top: 64px !important; }

.mB64 { margin-bottom: 64px !important; }

.mR64 { margin-right: 64px !important; }

.mL64 { margin-left: 64px !important; }

.mT68 { margin-top: 68px !important; }

.mB68 { margin-bottom: 68px !important; }

.mR68 { margin-right: 68px !important; }

.mL68 { margin-left: 68px !important; }

.mT72 { margin-top: 72px !important; }

.mB72 { margin-bottom: 72px !important; }

.mR72 { margin-right: 72px !important; }

.mL72 { margin-left: 72px !important; }

.mT76 { margin-top: 76px !important; }

.mB76 { margin-bottom: 76px !important; }

.mR76 { margin-right: 76px !important; }

.mL76 { margin-left: 76px !important; }

.mT80 { margin-top: 80px !important; }

.mB80 { margin-bottom: 80px !important; }

.mR80 { margin-right: 80px !important; }

.mL80 { margin-left: 80px !important; }

.mT84 { margin-top: 84px !important; }

.mB84 { margin-bottom: 84px !important; }

.mR84 { margin-right: 84px !important; }

.mL84 { margin-left: 84px !important; }

.mT88 { margin-top: 88px !important; }

.mB88 { margin-bottom: 88px !important; }

.mR88 { margin-right: 88px !important; }

.mL88 { margin-left: 88px !important; }

.mT92 { margin-top: 92px !important; }

.mB92 { margin-bottom: 92px !important; }

.mR92 { margin-right: 92px !important; }

.mL92 { margin-left: 92px !important; }

.mT96 { margin-top: 96px !important; }

.mB96 { margin-bottom: 96px !important; }

.mR96 { margin-right: 96px !important; }

.mL96 { margin-left: 96px !important; }

.mT100 { margin-top: 100px !important; }

.mB100 { margin-bottom: 100px !important; }

.mR100 { margin-right: 100px !important; }

.mL100 { margin-left: 100px !important; }

.p0 { padding: 0 !important; }

.pT0 { padding-top: 0 !important; }

.pB0 { padding-bottom: 0 !important; }

.pT24 { padding-top: 24px !important; }

.pB24 { padding-bottom: 24px !important; }

.pT48 { padding-top: 48px !important; }

.pB48 { padding-bottom: 48px !important; }

p, li, dt, dd, h2, h3, h4, span { background: url("../images/spacer.gif") 0 0 no-repeat; }

.textFix { background: url("../images/spacer.gif") 0 0 no-repeat !important; }

/* clearfix */
.cf:after, .clearfix:after { content: ""; clear: both; display: block; }

body, html { width: 640px; /*height: 100%;*/ margin: 0 auto; overflow: hidden; }

header { height: 128px; background-color: #f39141; position: relative; }
header h1 { width: 100%; height: 30px; line-height: 30px; position: absolute; bottom: 30px; color: #fff; font-size: 3rem; text-align: center; font-weight: bold; }
header a#mainMenuBtn { width: 30px; height: 30px; line-height: 30px; display: block; position: absolute; left: 32px; bottom: 30px; color: #fff; font-size: 3rem; text-align: center; }
header a#mainMenuBtn { width: 42px; height: 26px; display: block; position: absolute; left: 32px; bottom: 33px; }
header a#searchBtn { width: 41px; height: 40px; display: block; position: absolute; right: 33px; bottom: 26px; }

section#subMenu { height: 80px; background-color: #f7f7f7; overflow-x: scroll; -webkit-overflow-scrolling: touch; }
section#subMenu ul { width: 900px; }
section#subMenu ul li { width: 300px; height: 80px; line-height: 80px; float: left; color: #808080; font-size: 2.2rem; text-align: center; font-weight: bold; position: relative; }
section#subMenu ul li.active { color: #f39141; }
section#subMenu ul li.active:before { content: ''; width: 174px; height: 7px; background-color: #f39141; position: absolute; left: 60px; bottom: 0px; }
section#subMenu ul li p.close_btn { width: 40px; height: 40px; line-height: 40px; background-color: #f39141; border: 1px solid #f39141; border-radius: 0 0 0 10px; position: absolute; top: 0px; right: 0px; font-size: 30px; color: #fff; }

section#listContainer { width: 300%; height: 100%; position: relative; }
section#listContainer div.inner { height: 100%; position: relative; transition-duration: .3s; transition-property: transform; }
section#listContainer div.inner.left0 { transform: translateX(0px); }
section#listContainer div.inner.left1 { transform: translateX(-640px); }
section#listContainer div.inner.left2 { transform: translateX(-1280px); }
section#listContainer div.inner.left3 { transform: translateX(-1920px); }
section#listContainer div.inner.left4 { transform: translateX(-2560px); }
section#listContainer div.inner.left5 { transform: translateX(-3200px); }
section#listContainer div.inner.left6 { transform: translateX(-3840px); }
section#listContainer div.inner.left7 { transform: translateX(-4480px); }
section#listContainer div.inner.left8 { transform: translateX(-5120px); }
section#listContainer div.inner.left9 { transform: translateX(-5760px); }
section#listContainer div.inner.left10 { transform: translateX(-6400px); }
section#listContainer div.inner.left11 { transform: translateX(-7040px); }
section#listContainer div.inner.left12 { transform: translateX(-7680px); }
section#listContainer div.inner.left13 { transform: translateX(-8320px); }
section#listContainer div.inner.left14 { transform: translateX(-8960px); }
section#listContainer div.inner.left15 { transform: translateX(-9600px); }
section#listContainer div.inner.left16 { transform: translateX(-10240px); }
section#listContainer div.inner.left17 { transform: translateX(-10880px); }
section#listContainer div.inner.left18 { transform: translateX(-11520px); }
section#listContainer div.inner.left19 { transform: translateX(-12160px); }
section#listContainer div.inner.left20 { transform: translateX(-12800px); }
section#listContainer div.inner.left21 { transform: translateX(-13440px); }
section#listContainer div.inner.left22 { transform: translateX(-14080px); }
section#listContainer div.inner.left23 { transform: translateX(-14720px); }
section#listContainer div.inner.left24 { transform: translateX(-15360px); }
section#listContainer div.inner.left25 { transform: translateX(-16000px); }
section#listContainer div.inner.left26 { transform: translateX(-16640px); }
section#listContainer div.inner.left27 { transform: translateX(-17280px); }
section#listContainer div.inner.left28 { transform: translateX(-17920px); }
section#listContainer div.inner.left29 { transform: translateX(-18560px); }
section#listContainer div.inner.left30 { transform: translateX(-19200px); }
section#listContainer div.inner.left31 { transform: translateX(-19840px); }
section#listContainer div.inner.left32 { transform: translateX(-20480px); }
section#listContainer div.inner.left33 { transform: translateX(-21120px); }
section#listContainer div.inner.left34 { transform: translateX(-21760px); }
section#listContainer div.inner.left35 { transform: translateX(-22400px); }
section#listContainer div.inner.left36 { transform: translateX(-23040px); }
section#listContainer div.inner.left37 { transform: translateX(-23680px); }
section#listContainer div.inner.left38 { transform: translateX(-24320px); }
section#listContainer div.inner.left39 { transform: translateX(-24960px); }
section#listContainer div.inner.left40 { transform: translateX(-25600px); }
section#listContainer div.inner.left41 { transform: translateX(-26240px); }
section#listContainer div.inner.left42 { transform: translateX(-26880px); }
section#listContainer div.inner.left43 { transform: translateX(-27520px); }
section#listContainer div.inner.left44 { transform: translateX(-28160px); }
section#listContainer div.inner.left45 { transform: translateX(-28800px); }
section#listContainer div.inner.left46 { transform: translateX(-29440px); }
section#listContainer div.inner.left47 { transform: translateX(-30080px); }
section#listContainer div.inner.left48 { transform: translateX(-30720px); }
section#listContainer div.inner.left49 { transform: translateX(-31360px); }
section#listContainer div.inner.left50 { transform: translateX(-32000px); }
section#listContainer div.list { width: 640px; height: 100%; float: left; overflow-y: scroll; -webkit-overflow-scrolling: touch; position: absolute; top: 0px; }
section#listContainer div.list.left0 { left: 0px; }
section#listContainer div.list.left1 { left: 640px; }
section#listContainer div.list.left2 { left: 1280px; }
section#listContainer div.list.left3 { left: 1920px; }
section#listContainer div.list.left4 { left: 2560px; }
section#listContainer div.list.left5 { left: 3200px; }
section#listContainer div.list.left6 { left: 3840px; }
section#listContainer div.list.left7 { left: 4480px; }
section#listContainer div.list.left8 { left: 5120px; }
section#listContainer div.list.left9 { left: 5760px; }
section#listContainer div.list.left10 { left: 6400px; }
section#listContainer div.list.left11 { left: 7040px; }
section#listContainer div.list.left12 { left: 7680px; }
section#listContainer div.list.left13 { left: 8320px; }
section#listContainer div.list.left14 { left: 8960px; }
section#listContainer div.list.left15 { left: 9600px; }
section#listContainer div.list.left16 { left: 10240px; }
section#listContainer div.list.left17 { left: 10880px; }
section#listContainer div.list.left18 { left: 11520px; }
section#listContainer div.list.left19 { left: 12160px; }
section#listContainer div.list.left20 { left: 12800px; }
section#listContainer div.list.left21 { left: 13440px; }
section#listContainer div.list.left22 { left: 14080px; }
section#listContainer div.list.left23 { left: 14720px; }
section#listContainer div.list.left24 { left: 15360px; }
section#listContainer div.list.left25 { left: 16000px; }
section#listContainer div.list.left26 { left: 16640px; }
section#listContainer div.list.left27 { left: 17280px; }
section#listContainer div.list.left28 { left: 17920px; }
section#listContainer div.list.left29 { left: 18560px; }
section#listContainer div.list.left30 { left: 19200px; }
section#listContainer div.list.left31 { left: 19840px; }
section#listContainer div.list.left32 { left: 20480px; }
section#listContainer div.list.left33 { left: 21120px; }
section#listContainer div.list.left34 { left: 21760px; }
section#listContainer div.list.left35 { left: 22400px; }
section#listContainer div.list.left36 { left: 23040px; }
section#listContainer div.list.left37 { left: 23680px; }
section#listContainer div.list.left38 { left: 24320px; }
section#listContainer div.list.left39 { left: 24960px; }
section#listContainer div.list.left40 { left: 25600px; }
section#listContainer div.list.left41 { left: 26240px; }
section#listContainer div.list.left42 { left: 26880px; }
section#listContainer div.list.left43 { left: 27520px; }
section#listContainer div.list.left44 { left: 28160px; }
section#listContainer div.list.left45 { left: 28800px; }
section#listContainer div.list.left46 { left: 29440px; }
section#listContainer div.list.left47 { left: 30080px; }
section#listContainer div.list.left48 { left: 30720px; }
section#listContainer div.list.left49 { left: 31360px; }
section#listContainer div.list.left50 { left: 32000px; }
section#listContainer div.list ul li { height: 209px; border-bottom: 1px solid #e5e9ea; position: relative; }
section#listContainer div.list ul li h3 { height: 28px; margin: 0 0 25px 65px; padding-top: 25px; color: #111111; font-size: 2.8rem; }
section#listContainer div.list ul li p.outline { width: 550px; margin-left: 65px; color: #aaaaaa; font-size: 2.2rem; letter-spacing: 2px; }
section#listContainer div.list ul li p.detail { position: absolute; left: 65px; bottom: 32px; }
section#listContainer div.list ul li p.detail span.fav { margin-right: 20px; color: #ff4166; font-size: 2rem; }
section#listContainer div.list ul li p.detail span.url { color: #999999; font-size: 2rem; text-decoration: none; }

section#searchModal { width: 100%; height: 100%; background-color: #fff; position: absolute; top: 0px; transition-duration: .5s; transition-property: transform; transform: translateY(100%); display: none; }
section#searchModal div.input_container { height: 128px; background-color: #f39141; position: relative; }
section#searchModal div.input_container a.close_btn { width: 34px; height: 34px; display: block; position: absolute; top: 68px; left: 35px; }
section#searchModal div.input_container input { width: 496px; height: 56px; margin-top: 56px; padding-left: 20px; background-color: #0e5b93; border: none; border-radius: 10px; position: absolute; left: 108px; bottom: 16px; color: #fff; font-size: 20px; letter-spacing: 2px; }
section#searchModal ul li { height: 87px; line-height: 87px; margin-left: 32px; font-size: 2.8rem; }
section#searchModal ul li.category { height: 65px; line-height: 65px; margin-left: 0px; padding-left: 25px; background-color: #f5f5f5; color: #999999; font-size: 2.4rem; }

section#mainMenu { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; }
section#mainMenu div.bg { height: 100%; background-color: rgba(0, 0, 0, 0.3); opacity: 0; transition-duration: .3s; transition-property: opacity; }
section#mainMenu div.inner { width: 465px; height: 100%; background-color: #fff; position: absolute; top: 0px; box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.2); transition-duration: .3s; transition-property: transform; transform: translateX(-465px); }
section#mainMenu div.inner h2 { height: 60px; padding-top: 68px; background-color: #f39141; color: #fff; font-size: 3rem; font-weight: bold; text-align: center; letter-spacing: 2px; }
section#mainMenu div.inner h3 { height: 66px; line-height: 66px; padding-left: 26px; background-color: #f5f5f5; color: #999999; font-size: 2.4rem; font-weight: bold; }
section#mainMenu div.inner div.news { overflow-y: scroll; -webkit-overflow-scrolling: touch; }
section#mainMenu div.inner div.news ul { margin-left: 30px; }
section#mainMenu div.inner div.news ul li { height: 99px; border-bottom: 1px solid #e5e9ea; }
section#mainMenu div.inner div.news ul li h4 { margin-bottom: 16px; padding-top: 19px; font-size: 2.5rem; font-weight: bold; }
section#mainMenu div.inner div.news ul li p { color: #999999; font-weight: 2.2rem; }
