@font-face {
	font-family: 'harenosora-font';
	src: url('/assets/font/Harenosora.otf'), format('opentype');
}

.wrapper {
	font-family: 'harenosora-font', serif;
	width: 1024px;
	margin: 0 auto;
}

* {
	background-color: #fff;
}

.menu {
	li {
		&:nth-child(even) {
			background-color: #ff0000;
		}
		&:last-child {
			background-color: #00ff00;
		}
	}
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	li {
		width: 100px;
		display: block;
		background-color: #ddd;
		margin: 0 5px 5px;
		list-style: none;

		&:nth-child(2) {
			background-color: #ff0000;
		}
	}
}
