

@font-face {
  font-family: 'harenosora-font';
  src: url('/assets/font/Harenosora.otf'),
  format('opentype');
}

body{
	padding:0;
	margin:0;
}

.wrapper{
    font-family: "harenosora-font", serif;
	width:1024px;
	margin:0 auto;
}

*{
	background-color:#fff;
}